.about {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-hed {
  color: #8d8e8d;
}
.card {
  box-shadow: 1.5px 3px 3px 1.5px #566782;
  background: #fff;
  margin: 10px;
  width: auto;
  height: auto;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.card-title {
  display: flex;
  color: #605e63;
  justify-content: center;
  margin-top: 5px;
}
.deck {
  padding-bottom: 30px;
}
.bio {
  display: flex;
  justify-content: center;
  padding: 10px;
}

h1,
h5 {
  font-family: Oswald, sans-serif;
  font-weight: 200;
}

.project-btn {
  background-color: #fcdfe4cc;
  color: #414042;
  font-family: Oswald, sans-serif;
  margin-top: 375px;
}
.heavy {
  color: #414042;
  font-weight: 400;
}
img.project-image {
  width: 275px;
  height: 200px;
}
.kateimg {
  width: auto;
}
.linked-btn {
  position: absolute;
  flex: auto;
  left: 55%;
  top: 90%;
  transform: translate(-50%, -50%);
  background-color: rgb(252, 223, 228, 0.8);
  font-family: Oswald, sans-serif;
}

.links {
  color: rgb(61, 60, 60);
  font-size: large;
}

.portfolio-grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  display: flex;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills {
  margin-top: 20px;
}
.bgImage {
  background-image: url("./img/headerimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 900px) {
    .bgImage {
        background-image: url("./img/headerimg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }

      .containerHeight {
        height: 375px;
      }

      .height {
        margin-top: 245px !important;
      }
  }
.height {
  margin-top: 375px;
}